.container {
    max-width: 140rem;
    margin: 8rem auto;
    background-color: $color-grey-light-1;
    box-shadow: $shadow-dark;

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: $line;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
}

.content {

    &--pink {
        background-image: linear-gradient(to right bottom, $color-primary-pink-light, $color-primary-pink-dark);
    }

    &--violet {
        background-image: linear-gradient(to right bottom, $color-primary-violet-light, $color-primary-violet-dark);
    }

    &--blue {
        background-image: linear-gradient(to right bottom, $color-primary-blue-light, $color-primary-blue-dark);
    }

    &--green {
        background-image: linear-gradient(to right bottom, $color-primary-green-light, $color-primary-green-dark);
    }

    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    flex: 1 0 auto;
    padding: 7rem 4rem;
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

}

.row {
    background-color: $color-white;
    margin:  0 auto;
    padding: 5rem;
    width: 90%;
    height: 60%;

    &--flex {
        display: flex;
        flex-direction: row;
    }

    &--rel {
        position: relative;
    }
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    &:not(:last-child) {
        margin: 0 5rem;
    }
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: $color-grey-light-1;
    border-bottom: $line;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: $shadow-light;
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}


.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__button {
        width: 10rem;
        height: 6rem;
        margin-bottom: 1rem;
    }
}

.footer {
    width: 100%;
    background-color: $color-black;
    height: 11rem;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-shrink: 0;

    &__navigation {
        display: flex;
        align-self: center;
        justify-items: center;
        width: 100%;
    }

    &__list {
        display: flex;
        align-self: center;

        width: 100%;
        padding-left: 0;
    }

    &__item {
        list-style: none;
        display: inline-block;
        width: calc(100% / 3);
        text-align: center;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &--pink {
            background: linear-gradient(to right bottom, $color-primary-pink-light, $color-primary-pink-dark);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
        &--violet {
            background: linear-gradient(to right bottom, $color-primary-violet-light, $color-primary-violet-dark);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
        &--blue {
            background: linear-gradient(to right bottom, $color-primary-blue-light, $color-primary-blue-dark);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
        &--green {
            background: linear-gradient(to right bottom, $color-primary-green-light, $color-primary-green-dark);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}