.container {
  max-width: 140rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem; } }

.content {
  display: block;
  padding: 7rem 4rem; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.row {
  background-color: #fff;
  margin: 0 auto;
  padding: 5rem;
  width: 90%;
  height: 60%; }
  .row--flex {
    display: flex;
    flex-direction: row; }

.col {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .col:not(:last-child) {
    margin: 0 5rem; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f4f2f2; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.description {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .control-panel__button {
    width: 10rem;
    height: 6rem;
    margin-bottom: 1rem; }

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height: 11rem;
  padding: 2rem 0;
  display: flex; }
  .footer__navigation {
    align-self: center;
    justify-items: center;
    width: 100%;
    display: flex; }
  .footer__list {
    display: flex;
    width: 100%;
    padding-left: 0; }
  .footer__item {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    text-align: center; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link {
    background: linear-gradient(to right bottom, #FF3366, #BA265D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: #f4f2f2; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: #f4f2f2; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #777; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #eb2f64;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-link {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000; }
    .user-nav__user-link:hover {
      text-decoration: none;
      color: #000; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.incident-card {
  border: 3px solid transparent;
  min-width: 35rem;
  margin: 1rem;
  background-color: #E0D6DA;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #5D5257; }
  .incident-card__link {
    text-decoration: none;
    color: #555;
    text-align: center; }
    .incident-card__link:hover {
      text-decoration: none;
      color: grey; }
  .incident-card__category {
    text-transform: capitalize; }
  .incident-card:hover {
    transform: scale(1.01); }

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 2rem;
  row-gap: 2rem; }

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  background-color: black;
  border-radius: 100%;
  height: 6em;
  width: 6em; }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
    transform: scale(1); } }

.filter-bar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 16rem;
  left: 22rem; }
  .filter-bar__element:not(:last-child) {
    margin-right: 5rem; }
  .filter-bar__submit {
    background-color: #f5f8fa;
    color: #182026;
    display: inline-flex;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
    padding: .5rem 1rem;
    text-align: left;
    vertical-align: middle;
    min-height: 3rem;
    min-width: 3rem; }
    .filter-bar__submit:active {
      background-color: #5D5257; }

.center-container {
  width: 100%;
  display: block; }

.btn {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 1rem;
  background-color: #E0D6DA;
  min-width: 4rem;
  min-height: 4rem; }

.anotation {
  display: block;
  position: absolute;
  min-width: 15rem;
  top: 4rem;
  background-color: #f4f2f2;
  color: black;
  border-radius: 30%;
  padding: 1.5rem;
  display: none; }

.user-nav__icon-box:hover .anotation {
  display: block;
  animation-name: anotation-appear;
  animation-duration: 1s; }

@keyframes anotation-appear {
  0% {
    opacity: 0; }
  50% {
    opacity: .4; }
  100% {
    opacity: .7; } }

.menu-box {
  animation: menu-apear 2s ease; }
  .menu-box__list {
    list-style: none; }
    .menu-box__list > *:hover {
      background-color: #f4f2f2; }
  .menu-box__item {
    padding: 2rem;
    text-align: center; }
  .menu-box__link {
    text-decoration: none;
    color: #000;
    font-size: 2.4rem;
    font-weight: bold; }
    .menu-box__link:hover {
      text-decoration: none;
      color: #000; }
  .menu-box__icon {
    height: 50%;
    width: 50%; }

@keyframes menu-apear {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  40% {
    opacity: .4;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

.heading-primary {
  width: 100%;
  text-align: center; }

.paragraph {
  text-align: center; }
